<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
#*update--begin--author:zhangjiaqiang Date:20170421 for:调整表格当中的间隔高度*#
<style>
.table > tbody > tr > td {
	padding:4px 5px;
}
</style>
#*update--end--author:zhangjiaqiang Date:20170421 for:调整表格当中的间隔高度*#
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">编辑</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/demo/jpDemoOrderMain.do?doEdit" method="POST">
						<input type="hidden" id="btn_sub" class="btn_sub" />
									<input type="hidden" name="id" value="$!{jpDemoOrderMain.id}"/>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">订单号</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goOrderCode}" maxlength="12"  ajaxurl="$!{basePath}/demo/jpDemoOrderMain.do?checkOrderCode&id=$!{jpDemoOrderMain.id}" name="goOrderCode" id="goOrderCode" class="form-control" datatype="*"/>
										</div>
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">订单类型</label>
										<div class="col-sm-4">
											<select name="goderType" id="goderType" class="form-control">
                                                <option value="">--请选择--</option>
												<option value="1" #if($!jpDemoOrderMain.goderType == "1")selected="selected"#end>普通订单</option>
												<option value="2" #if($!jpDemoOrderMain.goderType == "2")selected="selected"#end>优质订单</option>
											</select>
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">顾客类型</label>
										<div class="col-sm-4">
											<select name="usertype" id="usertype" class="form-control">
                                                <option value="">--请选择--</option>
												<option value="1" #if($!jpDemoOrderMain.usertype == "1")selected="selected"#end>普通客户</option>
												<option value="2" #if($!jpDemoOrderMain.usertype == "2")selected="selected"#end>签约客户</option>
											</select>
										</div>
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">联系人</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goContactName}" maxlength="16" name="goContactName" id="goContactName" class="form-control" datatype="*"/>
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">手机号码</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goTelphone}" name="goTelphone" id="goTelphone" class="form-control" datatype="m"/>
										</div>
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">订单人数</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goOrderCount}" maxlength="11" name="goOrderCount" id="goOrderCount" class="form-control" datatype="n"/>
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">总价(不含返款)</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goAllPrice}" maxlength="8" name="goAllPrice" id="goAllPrice" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?0(\.\d+)?$|^-?[1-9]+[0-9]*(\.\d+)?$/"/>
										</div>
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">返款</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goReturnPrice}" maxlength="8" name="goReturnPrice" id="goReturnPrice" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?0(\.\d+)?$|^-?[1-9]+[0-9]*(\.\d+)?$/"/>
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:center;">备注</label>
										<div class="col-sm-4">
											<input type="text" value="$!{jpDemoOrderMain.goContent}" maxlength="66"  name="goContent" id="goContent" class="form-control" datatype="*"/>
										</div>
									</div>
									
									<div class="form-group mno">
										<ul id="tab_menu" class="nav nav-tabs">
											<li class="active">
												<a href="#jpDemoOrderProduct" data-toggle="tab">
													产品明细
												</a>
                                            </li>
											<li>
												<a href="#jpDemoOrderCustom" data-toggle="tab">
													客户明细
												</a>
                                            </li>
                                        </ul>
										<!-- //update-begin--Author:zhangjiaqiang  Date:20160906 for：【插件demo】一对多，明细行间距太大 -->
										<div id="tab_menu_content" class="tab-content">
											<div class="tab-pane fade in active" id="jpDemoOrderProduct">
												## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
												<button type="button" id="jpDemoOrderProduct_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>
												<button type="button" id="jpDemoOrderProduct_del" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
												## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
                                                <table class="table" id="jpDemoOrderProduct_table" style="margin-top:15px;">
													<thead>
														<tr>
                                                            <th>ID</th>
                                                            <th>产品名称</th>
    														<th>个数</th>
    														<th>服务类型</th>
    														<th>单价</th>
    														<th>小计</th>
    														<th>备注</th>
														</tr>
                                                    </thead>
													<tbody>
														#if($!{jpDemoOrderProductEntities})
															#foreach($!{jpDemoOrderProduct} in $!{jpDemoOrderProductEntities})
																#set($balance = $!{velocityCount} - 1)
														<tr>
															<td>
																<input type="hidden" name="jpDemoOrderProductEntities[$!{balance}].id" id="jpDemoOrderProductEntities[$!{balance}].id" value="$!{jpDemoOrderProduct.id}"/>
    																<input type="checkbox" name="jpDemoOrderProductEntities[$!{balance}].idCheck" id="jpDemoOrderProductEntities[$!{balance}]_idCheck"  />
															</td>
															<td>
																<input type="text"  name="jpDemoOrderProductEntities[$!{balance}].gopProductName" maxlength="33" value="$!{jpDemoOrderProduct.gopProductName}" id="jpDemoOrderProductEntities[$!{balance}].gopProductName" class="form-control" datatype="*"/>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderProductEntities[$!{balance}].gopCount" maxlength="11" value="$!{jpDemoOrderProduct.gopCount}" id="jpDemoOrderProductEntities[$!{balance}].gopCount" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?0(\.\d+)?$|^-?[1-9]+[0-9]*(\.\d+)?$/"/>
															</td>
															<td>
																<select name="jpDemoOrderProductEntities[$!{balance}].gopProductType" id="jpDemoOrderProductEntities[$!{balance}].gopProductType" class="form-control">
																	<option value="">--请选择--</option>
																	<option value="1" #if($jpDemoOrderProduct.gopProductType == '1')selected="selected"#end>普通服务</option>
																	<option value="2" #if($jpDemoOrderProduct.gopProductType == '2')selected="selected"#end>特殊服务</option>
                                                                </select>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderProductEntities[$!{balance}].gopOnePrice" maxlength="8" value="$!{jpDemoOrderProduct.gopOnePrice}" id="jpDemoOrderProductEntities[$!{balance}].gopOnePrice" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?0(\.\d+)?$|^-?[1-9]+[0-9]*(\.\d+)?$/"/>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderProductEntities[$!{balance}].gopSumPrice" maxlength="8" value="$!{jpDemoOrderProduct.gopSumPrice}" id="jpDemoOrderProductEntities[$!{balance}].gopSumPrice" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?0(\.\d+)?$|^-?[1-9]+[0-9]*(\.\d+)?$/"/>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderProductEntities[$!{balance}].gopContent" maxlength="66" value="$!{jpDemoOrderProduct.gopContent}" id="jpDemoOrderProductEntities[$!{balance}].gopContent" class="form-control" datatype="*"/>
															</td>
                                                        </tr>
														#end
														#end
                                                    </tbody>
												</table>
											</div>
                                            <div class="tab-pane fade" id="jpDemoOrderCustom">
												## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
												<button type="button" id="jpDemoOrderCustom_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>
												<button type="button" id="jpDemoOrderCustom_del" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
												## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
												<table class="table" id="jpDemoOrderCustom_table" style="margin-top:15px;">
													<thead>
														<tr>
                                                            <th>ID</th>
                                                            <th>姓名</th>
    														<th>性别</th>
    														<th>身份证号</th>
    														<th>护照号</th>
    														<th>业务</th>
    														<th>备注</th>
														</tr>
                                                    </thead>
													<tbody>
														#if($!{jpDemoOrderCustomEntities})
																#set($count= 0)
															#foreach($!{jpDemoOrderCustom} in $!{jpDemoOrderCustomEntities})
														<tr>
															<td>
																<input type="hidden" value="$!{jpDemoOrderCustom.id}" name="jpDemoOrderCustomEntities[$count].id" id="jpDemoOrderCustomEntities[$count].id"/>
    																<input type="checkbox"  name="jpDemoOrderCustomEntities[$count].idCheck" id="jpDemoOrderCustomEntities[$count]_idCheck"  />
															</td>
															<td>
																<input type="text"  name="jpDemoOrderCustomEntities[$count].gocCusName" value="$!{jpDemoOrderCustom.gocCusName}" id="jpDemoOrderCustomEntities[$count].gocCusName" class="form-control" datatype="*"/>
															</td>
															<td>
																<select name="jpDemoOrderCustomEntities[$count].gocSex" id="jpDemoOrderCustomEntities[$count].gocSex" class="form-control">
																	<option value="">--请选择--$!{jpDemoOrderCustom.gocSex}</option>
																	<option value="1" #if($!jpDemoOrderCustom.gocSex == '1') selected="selected" #end>男</option>
																	<option value="2"  #if($!jpDemoOrderCustom.gocSex == '2') selected="selected" #end>女</option>
                                                                </select>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderCustomEntities[$count].gocIdcard" value="$!{jpDemoOrderCustom.gocIdcard}" id="jpDemoOrderCustomEntities[$count].gocIdcard" errormsg="身份证号码错误！" class="form-control" datatype="*"/>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderCustomEntities[$count].gocPassportCode" value="$!{jpDemoOrderCustom.gocPassportCode}" id="jpDemoOrderCustomEntities[$count].gocPassportCode" class="form-control" datatype="*"/>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderCustomEntities[$count].gocBussContent" value="$!{jpDemoOrderCustom.gocBussContent}" id="jpDemoOrderCustomEntities[$count].gocBussContent" class="form-control" datatype="*"/>
															</td>
															<td>
																<input type="text"  name="jpDemoOrderCustomEntities[$count].gocContent" value="$!{jpDemoOrderCustom.gocContent}" id="jpDemoOrderCustomEntities[$count].gocContent" class="form-control" datatype="*"/>
															</td>
                                                        </tr>
															#set($count = $count+1)
															#end
														#end
                                                    </tbody>
												</table>
											</div>
										</div>
										
									</div>
									
						<div class="form-group mno">
							<div class="col-sm-offset-1 col-sm-6">
								## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
								<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/demo/jpDemoOrderMain.do?list')"><i class="fa fa-arrow-circle-left"></i> 返回</button>
								<button type="button" class="btn btn-primary" id="formSubmit"><i class="fa fa-save"></i> 提交</button>
								## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
							 </div>
						</div>
					</form>
					
					<!-- 客户明细模板 -->
					<table style="display:none;">
						<tbody id="add_jpDemoOrderCustom_template">
							<tr>
								<td>
    								<input type="checkbox" name="jpDemoOrderCustomEntities[#index#].idCheck" id="jpDemoOrderCustomEntities[#index#]_idCheck" />
								</td>
								<td>
									<input type="text"  name="jpDemoOrderCustomEntities[#index#].gocCusName" maxlength="16" id="jpDemoOrderCustomEntities[#index#].gocCusName" class="form-control" datatype="*"/>
								</td>
								<td>
									<select name="jpDemoOrderCustomEntities[#index#].gocSex" id="jpDemoOrderCustomEntities[#index#].gocSex" class="form-control">
										<option value="">--请选择--</option>
										<option value="1">男</option>
										<option value="2">女</option>
                                     </select>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderCustomEntities[#index#].gocIdcard" maxlength="18" id="jpDemoOrderCustomEntities[#index#].gocIdcard" errormsg="请填写正确身份证号码！" class="form-control" datatype="*"/>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderCustomEntities[#index#].gocPassportCode" maxlength="10" id="jpDemoOrderCustomEntities[#index#].gocPassportCode" class="form-control" datatype="*"/>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderCustomEntities[#index#].gocBussContent" maxlength="33" id="jpDemoOrderCustomEntities[#index#].gocBussContent" class="form-control" datatype="*"/>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderCustomEntities[#index#].gocContent" maxlength="66" id="jpDemoOrderCustomEntities[#index#].gocContent" class="form-control" datatype="*"/>
								</td>
                             </tr>
                        </tbody>
                    </table>
					<!--产品明细模板 -->
					<table style="display:none;">
						<tbody id="add_jpDemoOrderProduct_template">
							<tr>
								<td>
    									<input type="checkbox" name="jpDemoOrderProductEntities[#index#].idCheck" id="jpDemoOrderProductEntities[#index#]_idCheck" />
								</td>
								<td>
									<input type="text"  name="jpDemoOrderProductEntities[#index#].gopProductName" maxlength="33" id="jpDemoOrderProductEntities[#index#].gopProductName" class="form-control" datatype="*"/>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderProductEntities[#index#].gopCount" maxlength="11" id="jpDemoOrderProductEntities[#index#].gopCount" class="form-control" datatype="*"/>
								</td>
								<td>
									<select name="jpDemoOrderProductEntities[#index#].gopProductType"  id="jpDemoOrderProductEntities[#index#].gopProductType" class="form-control">
										<option value="">--请选择--</option>
										<option value="1">普通服务</option>
										<option value="2">特殊服务</option>
                                    </select>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderProductEntities[#index#].gopOnePrice" maxlength="8" id="jpDemoOrderProductEntities[#index#].gopOnePrice" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?#index#(\.\d+)?$|^-?[1-9]+[#index#-9]*(\.\d+)?$/"/>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderProductEntities[#index#].gopSumPrice" maxlength="8" id="jpDemoOrderProductEntities[#index#].gopSumPrice" class="form-control" datatype="/^-?[1-9]+(\.\d+)?$|^-?#index#(\.\d+)?$|^-?[1-9]+[#index#-9]*(\.\d+)?$/"/>
								</td>
								<td>
									<input type="text"  name="jpDemoOrderProductEntities[#index#].gopContent" maxlength="66" id="jpDemoOrderProductEntities[#index#].gopContent" class="form-control" datatype="*"/>
								</td>
                            </tr>
                        </tbody>
                    </table>
					<!-- //update-end--Author:zhangjiaqiang  Date:20160906 for：【插件demo】一对多，明细行间距太大 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/forminit.p3.js"></script> 
<script type="text/javascript" src="$!{basePath}/content/demo/order/jpDemoOrderMain-add.js"></script>
<!-- //update-begin--Author:zhangjiaqiang  Date:20160906 for：【插件demo】一对多，明细行间距太大 -->
<script >
jQuery(function(){
	$('#jpDemoOrderCustom_table span.Validform_checktip,#jpDemoOrderProduct_table span.Validform_checktip').remove();
});
</script>
<!-- //update-end--Author:zhangjiaqiang  Date:20160906 for：【插件demo】一对多，明细行间距太大 -->
